body{
    margin: 0%;
    height: 100vh;
    display: flex;
}
.pic{
    height: 100vh;
    width: 45vw;
}

.transLogo{
    width: 45vw;
    position: absolute;
    display: flex;
    top: 25vh;
    right: 60vw;
    justify-content: center;
    background-color:rgb(162, 153, 221);
    opacity: 0.8;
    border: 3px solid black;
}
.logo{
    height: 12vh;
    width: auto;
}
.name{
    font-size: 7vh;
    display: flex;
    align-items: center;
}
.credit{
    position: absolute;
    display: flex;
    bottom: 0%;
    width: 40vw;
    justify-content: center;
    font-size: 2vh;
}