body{
    margin: 0%;
    height: 100vh;
    display: flex;
}
.pic{
    height: 100vh;
    width: 40vw;
}

.transLogo{
    position: absolute;
    display: flex;
    width: 40vw;
    top: 25vh;
    justify-content: center;
    background-color:rgb(201, 195, 233);
    opacity: 0.8;

}
.logo{
    height: 12vh;
    width: auto;
}
.name{
    font-size: 7vh;
    display: flex;
    align-items: center;
}
.credit{
    position: absolute;
    display: flex;
    bottom: 0%;
    width: 40vw;
    justify-content: center;
    font-size: 2vh;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 3vh;
    
}
.text{
    padding-top: 12vh;
    font-size: 3vh;
    padding-right: 10vw;
}
.formIntro{
    font-size: 3vh;
}
.inpName, .inpEmandPh, .inpPw{
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-right: 15vw;
}
.first, .sec, .third, .fourth, .fifth, .sixth{
    display: flex;
    flex-direction: column;
}
input{
    height: 4vh;
    width: 18vw;
    font-size: 2.2vh;
}
label{
    font-size: 1.8vh;
}